/* Global styles */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  /* Navigation styles */
  
  nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
  }
  
  /* Table styles */
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Form styles */
  
  form {
    margin-top: 50px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"], form input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background-color: #35a04c;
  }
  
  /* Footer styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    /* Table styles */
    
    table {
      width: 90%;
      margin: 50px auto;
    }
    
    /* Form styles */
    
    form {
      width: 60%;
      margin: 50px auto;
    }
  }